---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
const allPosts = await getCollection("posts");
const pageTitle = "Le Blog"
---

<Layout title="Welcome to Astro.">
	<main>
		<h2>{pageTitle}</h2>
        <ul>
          {allPosts.map((post) => <li><a href={`/posts/${post.slug}/`}>{post.data.title}</a></li>)}

          </ul>
	</main>
</Layout>