---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---

<Layout title="Welcome to Astro.">
	<main>
		<h2>{pageTitle}</h2>
		<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
	</main>
</Layout>
